.navbar-right {
  justify-content: end;
}

.navbar-brand {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.navbar-brand > img {
  margin-right: 10px;
}

.navbar-logo {
  height: 64px;
  width: 64px;
}

@media screen and (max-width: 600px) {
  .navbar > .container-fluid > a {
    font-size: 20px;
  }
  .navbar_logo {
    height: 32px;
    width: 32px;
  }
}
